<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Form B4</title>
</head>
<body>

    <h1>Product</h1>
    <form th:object="${product}" th:action="@{/product/saveB4}" method="post">       
        <label for="name">Product Name:</label>
        <input id="name" type="text" th:field="*{name}">
        <br><label for="price">Product Price:</label>
        <input id="price" type="number" step="0.01" th:field="*{price}"><br>      
    <button type="submit">Save</button>
    </form>
    <hr>
    <h2>Save</h2>
    <ul>
        <li>Product Name: <span th:text="${product.name}">?1name</span></li>
        <li>Product Price: <span th:text="${product.price}">?1price</span></li>
    </ul>
    <hr>
    <h2>List</h2>
    <ul th:each="item: ${products}">
        <li>Name: <span th:text="${item.name}">item.name</span></li>
        <li>Price: <span th:text="${item.price}">item.price</span></li>
    </ul>
</body>
</html>
