<html xmlns:th="http://www.thymeleaf.org">
<body>
    <h3>PAGINATION</h3> 
    <table border="1" style="width:100%"> 
        <tr>
            <th>Id</th> <th>Name</th> <th>Price</th> <th>Date</th>
        </tr>
        <th:block th:each="item: ${page.content}">
            <tr>
                <td th:text="${item.id}"></td> 
                <td th:text="${item.name}"></td> 
                <td th:text="${item.price}"></td> 
                <td th:text="${item.createDate}"></td> 
            </tr>
        </th:block>
    </table>

    <a th:href="@{|/product/page?p=0|}">First</a>
    <a th:href="@{|/product/page?p=${page.number - 1}|}">Previous</a>
    <a th:href="@{|/product/page?p=${page.number + 1}|}">Next</a>
    <a th:href="@{|/product/page?p=${page.totalPages - 1}|}">Last</a> 

    <ul>
        <li>Số thực thể hiện tại: [[${page.numberOfElements}]]</li> 
        <li>Trang số: [[${page.number}]]</li> 
        <li>Kích thước trang: [[${page.size}]]</li>
        <li>Tổng số thực thể: [[${page.totalElements}]]</li> 
        <li>Tổng số trang: [[${page.totalPages}]]</li>
    </ul>
</body>
</html>