<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div> 
	<img th:src="@{|/photos/${staff.photo}|}"><hr> 
	Email:  
	<b th:text="${staff.id}"></b><hr> 
	Họ và tên:  
	<b th:text="${#strings.capitalizeWords(staff.fullname)}"></b><hr>
    
    Giới tính:  
	<b th:text="${staff.gender == null ? '' : (staff.gender ? 'Nam' : 'Nữ')}"></b><hr>
    
	Ngày sinh:  
	<b th:text="${#dates.format(staff.birthday, 'dd-MM-yyyy')}"></b><hr> 
	Cấp bậc:  
	<th:block th:switch="${staff.level}"> 
	<b th:case="0">Úy</b> 
	<b th:case="1">Tá</b> 
	<b th:case="2">Tướng</b> 
	<b th:case="*">Chưa có</b> 
	</th:block><hr> 
	Salary:  
	$<b th:text="${#numbers.formatDecimal(staff.salary, 0, 'COMMA', 2,  'POINT')}"></b><hr> 
	</div>
</body>
</html>